/*=========BEGIN BODY=============*/
#map {
	display: block;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	text-align: center;

}
body {
	background-color: #e0e0e0;
}
.bg-mohom{
	background-color: #1c405c;
}

@font-face {
font-family: 'thai_sans_literegular';
src: url('thaisanslite_r1-webfont.eot');
src: url('thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'),
     url('thaisanslite_r1-webfont.woff') format('woff'),
     url('thaisanslite_r1-webfont.ttf') format('truetype');
font-weight: normal;
font-style: normal;

}
.font-special-style{
    font-family: 'thai_sans_literegular', Lucida, Verdana, sans-serif;
}

.gallery-zone img{
   border: 7px solid #173c59;

}

.bg-gallery{
	background-color: #173c59;
}

.bg-header{
	background-color: #0c4e81;
}



.bg-map{
	background-color: #222630;
}

.banner-history h2 {
	line-height: 0.7em;

}

.bg-index{
	background-image: url('../../assets/img-page/striped/linephotosmall-4.jpg');
}

.banner-history{
	background-image: url('../../assets/img-page/striped/linephotosmall-1.jpg');
}

.banner-contact{
	background-image: url('../../assets/img-page/striped/linephotosmall-2.jpg');
}

.banner-step-mohom{
	background-image: url('../../assets/img-page/striped/photobigsmall-2.jpg');
}

.banner-step-water{
	background-image: url('../../assets/img-page/striped/photobigsmall-2.jpg');
}

.banner-video{
	background-image: url('../../assets/img-page/striped/photobigsmall-2.jpg');
}
/* @end */
